body {
    background: url('../img/hotels/luxury-pool-villa-spectacular-contemporary-design-digital-art-real-estate-home-house-property-ge.jpg');
    background-size: 100vw;
    background-position: 0vw -17vw;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
#page {
    margin-top: 23vw;
    background: url('../img/bg-list_hotels.png');
    height: 75%;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}
#page h1 {
    text-align: center;
}

#hotels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vw;
    background: url('../img/bg-list_hotels1.png');
    background-size: cover;
    height: 100vh;
}
#hotels img {
}
@media screen and (max-width: 780x) {
    #page {
        margin-top: 15vw;
    }
}

@media screen and (max-width: 628x) {
    #page {
    }
}