* {
    margin: 0;
    padding: 0;
    font-family: 'Bellota';
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 80%, rgba(54, 31, 23, 0.9)), url('../img/graphic-node-yPSbirjJWzs-unsplash.jpg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-connect {
    background-color: rgb(87, 126, 79);
    color: black;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 1px 2px 7px #301b18;
    font-family: 'Bellota';
    font-size: 1.5vw;
    padding: 1vw;
}
.btn-connect:hover {
    box-shadow:  8px 8px 20px rgb(255, 255, 255);
    color : white;
}
#auth {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
#auth input {
    margin: 15px 0px;
}
.modal-content {
    background: linear-gradient(to right, rgba(105, 77, 77, 0.9), rgb(37, 13, 6)) !important;
    border-radius: 20px !important;
    
}
.modal-header img {
    height: 5vw;
    padding: 0 !important;
    background: linear-gradient(to right, rgba(105, 77, 77, 0.6), rgb(255, 255, 255));
    border-radius: 0px 25px 25px 0px;
}
.modal-header h5 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    color:rgb(255, 255, 255)
}
input[type="text"] {
    border-radius: 12px;
    height: 2vw;
}
input[type="email"] {
    border-radius: 12px;
    height: 2vw;
}
input[type="password"] {
    border-radius: 12px;
    height: 2vw;
}
input[type="submit"] {
    color: aliceblue;
    font-family: 'Bellota';
    font-size: 1.3vw;
    background: linear-gradient(to right, rgba(105, 77, 77, 0.8), rgba(30, 83, 23, 1));
    border-style: none !important;
    border-radius: 0px 20px 20px 0px !important;
    padding: 0.6vw;
}
::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Bellota';
    font-size: 1.3vw;
}
.modal-footer button {
    background-color: aliceblue;
    color: #301b18;
    font-size: 1.3vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 7px;
}
.modal-footer button:hover {
    background-color: #13580a;
}
section {
    display: flex;
    align-items: flex-end;
    background: url('../img/bg-list_hotels.png');
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
section h1 {
    text-align: center;
}
#carouselExampleCaptions {
    border-radius: 30px 30px 0px 0px;
    box-shadow: 15px -15px 20px white;
}
.carousel-item {
}
.carousel-item img {
    border-radius: 30px 30px 0px 0px;
}
#hotels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vw;
    background: url('../img/bg-list_hotels1.png');
    background-size: cover;
    height: 100vh;
}
#hotels img {
    height: 18vw;
}
@media screen and (max-width: 780x) {
}

@media screen and (max-width: 628x) {
    section {
    }
}
