
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-image: url('../img/graphic-node-yPSbirjJWzs-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo img {
    background-color: #09381771;
  }
  
  nav {
    float: right;
  
  }
  
  nav ul {
    margin-top: 70px;
    list-style: none;
  }
  
  nav li {
    display: inline;
    

  }
  
  nav a {
    font-size: x-large;
    color: rgb(23, 100, 31);
    text-decoration: none;
    padding: 9px;
    border-radius: 20px;
    background-color: aliceblue;
  }
  .btn-deconnect {
    background-color: rgba(150, 72, 72, 0.8);
    color: white;
  }
  
  /* Search section styles */
  .search-section {
    background-size: cover;
    background-position: center;
    height: 100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
  }
  
  h1 {
   color: rgb(194, 116, 32);
    font-size: 46px;
    margin-top: 400px;
    background-color: #09381771;
  }
  
  
  #reservation-form {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
    border-radius: 20px;
    background-color: #0d491d53;
  }
  
  #reservation-form input {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
  }
  
  #reservation-form button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #093817;
    color: #fff;
    cursor: pointer;
  }
  
  
  .cta-button {
    background-color: #daab11;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #e7523b;
  }

#room_options {
  background-color: #093817;
  text-align: start;
}
.filters label {
  background-color: black;
}
